.delete-button {
    visibility: hidden;
    color: #df0e15; 
    font-weight: bold;
}

.task-input:hover .delete-button {
    visibility: visible;
}

.todo-container {
    background: white;
    position: relative;
    box-shadow: 
        0 1px 1px rgba(0, 0, 0, 0.2),
        0 8px 0 -3px #f6f6f6,
        0 8px 1px -3px rgba(0, 0, 0, 0.2),
        0 16px 0 -6px #f6f6f6,
        0 16px 1px -6px rgba(0, 0, 0, 0.2);
}